<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430039686866-d8tqls1eg3ecjhsduu2187faimsgmm3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430039686866-d8tqls1eg3ecjhsduu2187faimsgmm3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBnonaSbqFXNHz2LC1q06lTqhJFkrL-kZw</string>
	<key>GCM_SENDER_ID</key>
	<string>430039686866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luvsai.InstagramSUI</string>
	<key>PROJECT_ID</key>
	<string>wsctraininginsta</string>
	<key>STORAGE_BUCKET</key>
	<string>wsctraininginsta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430039686866:ios:10f82b63a2a0577641d70b</string>
</dict>
</plist>